<% layout("/layouts/boilerplate")%>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>WanderLust</title>
</head> -->
<body>
     <div class="row">
          <div class="col-8 offset-2">
               <br>
     <h3>Edit your list</h3>
   
     <form method="post" action="/listings/<%=listing._id%>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3">
               <label for="title" class="form-label">Title</label>
               <input type="text" value="<%=listing.title%>" name="listing[title]" class="form-control" required>
               <div class="valid-feedback">Title is good.</div>
          </div>
          
          <div class="mb-3">
               <label for="description" class="form-label">Description</label>
               <input name="listing[description]" value="<%=listing.description%>" type="text" class="form-control" required>
               <div class="invalid-feedback">Please Write Shorter Description</div> 
          </div>
          <div class="mb-3">
              
             
          </div>

          <div class="mb-3">
               <label for="image" class="form-label">Upload New Image</label>
               <input type="file"  name="listing[image]" class="form-control">
             
          </div>
          
          <div class="row">
          <div class="mb-3 col-md-4 ">
               <label for="price" class="form-label">Price</label>
               <input type="number" value="<%=listing.price%>" name="listing[price]" class="form-control" required>
               <div class="invalid-feedback">Enter a valid Price</div>
          </div>
          
          <div class="mb-3 col-md-8">
               <label for="country" class="form-label">Country</label>
               <input type="text" value="<%=listing.country%>" name="listing[country]" class="form-control" required>
               <div class="invalid-feedback">Enter the valid Country</div>
          </div>
     </div>
          
          <div class="mb-3">
               <label for="country" class="form-label">Country</label>
               <input type="text" value="<%=listing.location%>" name="listing[location]" class="form-control" required>
               <div class="invalid-feedback">Enter the valid Location</div>
          </div>

         <br>
          <button class="add-button">Add</button>
     </div>
</div>
      </form>
</body>
<!-- </html> -->