<% layout("/layouts/boilerplate")%>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>WanderLust</title>
</head> -->

<body>
   <br>
   <%= success %>
     <h3>All Listings</h3>
     <br>
     <!-- <form method="get" action="/listings/new">
          <button>Create New Listing</button>
     </form> -->
     <div class="row row-cols-lg-3  row-cols-md-2 row-cols-sm-1 " >
          <% for(let listing of allListings){%>         
               <div class="card col listing-card" >
                    <a href="/listings/<%= listing._id%>" class="listing-link">
                    <img src="<%=listing.image.url%>" class="card-img-top"  alt="listingimage" style="height: 20rem;"/>
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                   
                         <b><%=listing.title %></b> <br><br>
                    </a>
                    &#8377;<%= typeof listing.price === "number" ? listing.price.toLocaleString("en-IN") : "N/A" %> / night

                         
                      </p>
                   
                    </div>
                  </div>
                  <%}%>
     </div>

 
<!-- </html> -->