<% layout("/layouts/boilerplate")%>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>WanderLust</title>
</head> -->
<body>
     <div class="row">
          <div class="col-8 offset-2">
   
     <h3><%= listing.title%></h3>

     <div class="card">
          <img src="<%= listing.image.url%>" class="card-img-top show-image" alt="listingimage">
          <div class="card-body">
            <p class="card-text">
              <p class="card-text"> <i>Owned by
             <%=listing.owner.username %></i>
          </p>

          <p> <%= listing.description%></p>
              
          <p> &#8377; <%= listing.price.toLocaleString("en-IN")%></p>
             
             
              <p>   <%= listing.location%></p>
           
              <p>    <%= listing.country%></p>
          



          
          </p>
          </div>
     </div>
     <ul>
          <% if(currUser && currUser ._id.equals(listing.owner._id)){
%>
          
        <div class="col-1">
          <form method="get" class="btn " action="/listings/<%=listing.id%>/edit">
               <button class="button-col">Edit</button>
          </form>
     </div>
     <div class="col-1">
          <form method="post" class="btn" action="/listings/<%=listing._id%>?_method=DELETE">
               <button class="button-del">Delete</button>
          </form>
     </div>
     <%}%>
     </ul>
</body>
            
          </div  > 
          <div class="col-8 offset-3">
               
               <% if(currUser) {%>
               <h4>Leave a Review</h4> 
               <form action="/listings/<%=listing.id%>/reviews" method="post" novalidate class="needs-validation">
                    <div class="mb-3 mt-3">
                       <label for="rating" class="form-label">Rating</label>
                       <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                   </div>
                   <div class="mb-3 mt-3">
                  <fieldset class="starability-slot">
                    <label for="rating" class="form-label">Rating</label>
  <legend>First rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="rating" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="rating" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="rating" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="rating" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="rating" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div>
                   <div class="mb-3 mt-3">
                       <label for="comment" class="form-label">Comments</label  >
                       <textarea 
                           name="review[comment]"
                           id="comment"
                           cols="30"
                           rows="5"
                           class="form-control"
                           required
                       ></textarea>
                       <div class="invalid-feedback">Please Submit some comment </div>
                   </div>
                   <button class="btn btn-outline-dark">Submit</button>
               </form>
               <%}%>
            
          <% if(listing.reviews.length > 0) {%> 
             <div class="row">
               <p><b>All Reviews</b></p>
                    <% for(review of listing.reviews){%>
                         <div class="card col-5 ms-3 mb-3" >
                         <div class="card-body">
                              <h5 class="card-title">@<%=review.author.username%></h5>
                              <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>

                              <p class="card-text"><%=review.comment%></p>
               
                   
                    <form  class="mb-3" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                         <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
               </div>
          </div>
          <%}%>
     </div>
     <%}%>
     
          </div>
          <div class="col-6 offset-3 mb-3">
          <h3>Where you'll be</h3>
          <div id="map" ></div>
           </div>
           

     </div>
     <script>
          let mapToken = "<%= process.env.MAP_TOKEN %>"
	mapboxgl.accessToken = mapToken;
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        center: [-74.5, 40], // starting position [lng, lat]. Note that lat must be set between -90 and 90
        zoom: 9 // starting zoom
    });
</script>
<!-- </html> -->